* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-image: linear-gradient(#ddd, #7abdff);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #master_container {
        width: 100%;
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home_b {
    background-color: dodgerblue;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(74, 0, 212, 0.63);
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inden i dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*billeder med links til sider*/
.image_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% 15%;
}

.gallery {
    margin: 10px;
    /*float: left;*/
    width: 250px;
    transition: .25s ease;
}

.gallery:hover {
    border: 1px solid #777;
    width: 300px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.head_text {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

p {
    font-weight: bold;
}
